<script type="text/javascript" charset="utf-8" async defer>

(function(){
    var GallSettings = {"path": "{{settings.GALERY_SOURCE_URL}}" };
    define('GallSettings', function() {
        return GallSettings;
    });
})();
</script>
<hr style="margin: 10px 0 10px 0;" />
<div id="gallery_widget">
    <input type="hidden" name="images" id="images" value=""/>
    <input type="hidden" name="id_gallery" id="id_gallery" value="{{id_gallery}}"/>
    <div class="controls">
        <div class="video_area">
            <p>Inserta la URL del video:</p>
            <input type="text" name="id_video_url" id="id_video_url" value="" class="form-control" width="90%"/>
            <button type="button" class="btn btn-primary" id="id_submit_video"><span class="upload_icon"></span></button>
        </div>
        <div class="other_tasks">
            <div class="order">
                <p>Ordenamiento</p>
                <button type="button" class="btn btn-success" id="id_order_manual">Manual</button>
                <button type="button" class="btn btn-warning" id="id_order_cancelar" style="display: none;">Cancelar</button>
                <button type="button" class="btn btn-success" id="id_order_auto">Automatico</button>
                <button type="button" class="btn btn-success" id="id_order_asc" style="display: none;">Ascendente</button>
                <button type="button" class="btn btn-success" id="id_order_desc" style="display: none;">Descendente</button>
                <button type="button" class="btn btn-warning" id="id_auto_cancelar" style="display: none;">Cancelar</button>
            </div>
            <div class="selectable border_left">
                <p>Selecci&oacute;n</p>
                <button type="button" class="btn btn-info" id="id_select_multi" >Multi</button>
            </div>
            <div class="delete border_left">
                <p>Acciones</p>
                <button type="button" class="btn btn-danger delete_item" id="id_delete" alt="Borrar"><span class="trash_icon"></span></button>
                <button type="button" class="btn btn-success enabled_item" id="id_enabled_btn" alt="Habilitar"><span class="check_icon"></span></button>
                <button type="button" class="btn btn-warning disabled_item" id="id_disabled" alt="Deshabilitar"><span class="wrong_icon"></span></button>
            </div>
        </div>

    </div>
    <div class="messages"></div>
    <div id="gallery_widget_container">
        <ul id="row-gallery" class="connectedSortable row_gallery">
        {% for item in list_items %}
            <li data-id="{{item.id}}" data-parent="{% if item.gallery %} {{item.gallery.id}} {% endif %}" data-key="{{item.key_name}}" data-order="{{item.order}}" data-video="{{item.is_video}}" class="item-gallery ui-state-disabled {% if item.enabled == False %} not-enabled-item{% endif %}">
                <div class="edit_zone">
                    <a class="edit_link" href="." >
                        <span class="edit_icon"></span></a>
                </div>
                {% if item.is_video %}
                    <span class="span_view_video"></span>
                {% endif %}
                {{item.get_foto_thumb_admin}}
                <div class="video_preview">{% if item.is_video %} {{item.get_video_thumb_admin}} {% endif %}</div></li>
        {% endfor %}
        <li class="ui-state-disabled uploadarea"> 
            <div id="upload">
                <p>Por favor selecciona o arrastra la imagen que deseas agregar</p>
                <input id="fileupload" type="file" name="files[]" data-url="/gallery/admin/add/key/" multiple>
            </div>
        </li>
        </ul>
    </div>
    <div id="box_edit_form" class="modal" tabindex="-1" role="dialog" aria-hidden="true" style="visibility: hidden;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Item</h4>
                </div>
                <div class="modal-body" style="text-align:left;">
                    <div class="loadgin" style="display: block;"><img alt="loading" src="/static/gallstatic/img/v2/hex-loader2.gif"></div>
                    <div class="feedback">
                    </div>
                    <div class="forms" style="display: none;">
                        <form action="." method="post" accept-charset="utf-8" id="form-item-box">
                            <label for="descript_item_updt">Descripci&oacute;n</label>
                            <textarea name="descript_item_updt" id="descript_item_updt" class="form-control" row="25" width="90%" style="width: 100%;"></textarea>
                        </form>
                        <a style="margin: 8px 0px -50px 0px; float: left;" type="button" class="btn btn-default" id="edit_all" alt="Editar" target="_blank" href="">Editar en otra pestaña</a>
                        <button style="margin: 8px 0px -11px 477px;" type="button" class="btn btn-success" id="send_update_form" alt="Habilitar" style="float: right;">Modificar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
