{% extends "base_2_col.html" %}
{% load dfp %}
{% block title %}Galerias{% endblock %}

{% block javascript_include_app %}"gallery/apps/DaleAlbo/galleries-destkop"{% endblock %}

{% block register_slots %}
    {% register_slots "ros" "728x90,580x90,300x250_A,950x50,300x250_B" %}
{% endblock %}

{% block banner_728 %}
    {% include_slot "728x90" %}
{% endblock %}

{% block banner_950 %}
    {% include_slot "950x50" %}
{% endblock %}

{% block col_left %}
<div class="gallery-top">
    <h2 class="gallery-title">Galerias</h2>
    <span class="gallery-count">{{po.count}}</span>
</div>

<div id="galleries">
    {% for gallery in galleries %}
        <div class='gallery_rg'>
            <div class="gallery_jg">
            {% for foto in gallery.thumbnails_gallery %}
                 <a href="{{gallery.get_absolute_url}}" rel="nofollow">
                    <img src="{{foto.get_url_thumbdesk}}" alt="{{foto.about|truncatechars:15}}">
                 </a>
            {% endfor %}
            </div>
            <h3><a href="{{gallery.get_absolute_url}}" rel="nofollow">{{gallery.name|truncatechars:35}}</a></h3>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block morecss %}
    <link rel="stylesheet" href="/static/gallstatic/css/gallery_base_gal.css">
    <link rel="stylesheet" href="/static/js/gallery/lib/JustifiedGallery/dist/css/justifiedGallery.css"/>
{% endblock %}

{% block col_right %}
    {% include "includes/box_prox_partido.html" %}
    {% include "includes/facebook_fan_box.html" %}
    {% include "includes/box_ultimo_partido.html" %}
{% endblock %}


{% block open_graph_tags %}
    <meta property="og:title" content="Galerias"/> 
    <meta property="og:type" content="article"/> 
    <meta property="og:url" content="http://{{settings.FQDN}}/gallery/"/> 
    <meta property="og:image" content="{{gallery_sample.first_foto_url}}"/> 
    <meta property="og:site_name" content="{{settings.SITE_NAME}}"/> 
    <meta property="og:description" content="Galeria de imagenes {{settings.SITE_NAME}}"/> 
{% endblock %}

{% block meta_tags %}
<link rel="canonical" href="http://{{settings.FQDN}}/gallery/" />
<link rel="alternate" media="only screen and (max-width: 640px)" href="{{settings.MOBILE_FQDN}}/gallery/">
<meta name="title" content="Galerias multimedia {{settings.SITE_NAME}" />
<meta name="description" content="Galerias multimedia {{settings.SITE_NAME}" />
<link rel="target_url" href="http://{{settings.FQDN}}/gallery/" />
<meta name="medium" content="blog" />
<link rel="image_src" href="{{gallery_sample.first_foto_url}}" />
{% endblock %}
