{% extends "base_2_col.html" %}
{% load dfp %}
{% block title %}{{gallery.name}}{% endblock %}

{% block javascript_include_app %}"gallery/apps/DaleAlbo/gallery"{% endblock %}

{% block register_slots %}
    {% register_slots "ros" "728x90,580x90,300x250_A,950x50,300x250_B" %}
{% endblock %}

{% block banner_728 %}
    {% include_slot "728x90" %}
{% endblock %}

{% block banner_950 %}
    {% include_slot "950x50" %}
{% endblock %}

{% block col_left %}
<div id="FotoGallery" class="gallery-top">
    <h2 class="fotogallery_title">Comparte con el mundo Albo.</a></h2>
    <div class="backlink_metagellery">
        <a href="/gallery/{{gallery}}/">Volver a la galeria</a>
    </div>
</div>

<div class="forms" style="padding-right: 40px;">
    {% if form %}
        {% if form.errors %}
            <p style="color: red;">
                Favor de corregir los siguientes errores.
            </p>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Upload" class="btn btn-primary" style="margin-top: 10px;">
        </form>
    {% else %}
    {% if correct %}
        <p class="ok_request">Se ha subido Correctamente! Espera a la moderacion!</p>
        <p><a href="/gallery/{{gallery}}/">Volver a la Galerias</a> </p>
    {% else %}
        <p class="error_request">{{response}}</p>
    {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block col_right %}
    {% include "includes/box_prox_partido.html" %}
    {% include "includes/facebook_fan_box.html" %}
    {% include "includes/box_ultimo_partido.html" %}
{% endblock %}

{% block js_items_list %}
    {% autoescape off %}
        {{item_list_json}}
    {% endautoescape %}
{% endblock %}

{% block morecss %}
<link rel="stylesheet" href="/static/gallstatic/css/forms.css">
{% endblock %}

{% comment %}
{% block open_graph_tags %}
{% if pic_rel %}
    <meta property="og:title" content="{{pic_obj.name|striptags}}"/> 
    <meta property="og:type" content="article"/> 
    <meta property="og:url" content="http://{{settings.FQDN}}{{pic_obj.get_absolute_url}}"/> 
    <meta property="og:image" content="{{pic_obj.get_url_thumbdesk}}"/> 
    <meta property="og:site_name" content="{{settings.SITE_NAME}}"/> 
    <meta property="og:description" content="{{pic_obj.about|striptags|truncatechars:30}}"/> 
{% else %}
    <meta property="og:title" content="{{gallery.name|striptags}}"/> 
    <meta property="og:type" content="article"/> 
    <meta property="og:url" content="http://{{settings.FQDN}}{{gallery.get_absolute_url}}"/> 
    <meta property="og:image" content="{{gallery.first_foto_url}}"/> 
    <meta property="og:site_name" content="{{settings.SITE_NAME}}"/> 
    <meta property="og:description" content="Galeria de imagenes {{settings.SITE_NAME}}"/>
{% endif %}
{% endblock %}

{% block meta_tags %}

{% if pic_rel %}
<link rel="canonical" href="http://{{settings.FQDN}}{{pic_obj.get_absolute_url}}" />
<link rel="alternate" media="only screen and (max-width: 640px)" href="{{settings.MOBILE_FQDN}}{{pic_obj.get_absolute_url}}">
<meta name="title" content="{{pic_obj.name|striptags}}" />
<meta name="description" content="{{pic_obj.about|striptags}}" />
<link rel="target_url" href="http://{{settings.FQDN}}{{pic_obj.get_absolute_url}}" />
<meta name="medium" content="blog" />
<link rel="image_src" href="{{pic_obj.get_url_thumbdesk}}" />
{% else %}
<link rel="canonical" href="http://{{settings.FQDN}}{{gallery.get_absolute_url}}" />
<link rel="alternate" media="only screen and (max-width: 640px)" href="{{settings.MOBILE_FQDN}}{{gallery.get_absolute_url}}">
<meta name="title" content="{{gallery.name|striptags}}" />
<meta name="description" content="{{gallery.about|striptags}}" />
<link rel="target_url" href="http://{{settings.FQDN}}{{gallery.get_absolute_url}}" />
<meta name="medium" content="blog" />
<link rel="image_src" href="{{gallery.first_foto_url}}" />
{% endif %}

{% endblock %}
    
{% endcomment %}
