<div class="content" data-url="{{FQDN}}{{permalink}}" data-preview="{{url_thumbdesk}}" data-mobile="{{MOBILE_FQDN}}{{permalink}}">
    <div style="width: {{width-container}}px; margin: 0 auto;">
        <div class="wrapper" style="width: {{width_border}}px; height:auto; margin-left: 0px; margin-top: {{margin-top-borer}}px; float: left;">
        <div class="skin" style="padding: 15px; width: auto; height: auto; padding-bottom: 55px;">
            <div style="width:{{width_new}}px; height: {{height_new}}px; position: relative;">
                {{#related_url}}
                    <div class="related">
                        {{{related_galeries}}}
                    </div>
                {{/related_url}}
                {{^related_url}}
                    {{#is_video}}
                        <div class="video_container gal-video"><iframe class="IframeEmbed" width="670px" height="500px" src="{{url_embed}}" frameborder="0" allowfullscreen=""></iframe></div>
                    {{/is_video}}
                    {{^is_video}}
                        {{#vertical}}
                            <img class="imgShow" src="{{url_thumb}}" style="width:{{width_new}}px; height: {{height_new}}px;">
                        {{/vertical}}
                        {{^vertical}}
                            <img src="{{url_thumb}}" style="width:{{width_new}}px; height: {{height_new}}px;">
                        {{/vertical}}
                    {{/is_video}}

                    {{#is_video}}
                        <div class="caption" style="margin-left: 10px; position:initial;">
                    {{/is_video}}
                    {{^is_video}}
                         <div class="caption">
                    {{/is_video}}
                        <span class="number">{{order}} de {{count_g}}</span>
                    </div>
                    {{#about}}
                        <div class="about" style="width: 99%;">{{{about}}}</div>
                    {{/about}}
                    <div class="socialGallery">
                        <div style="float: left; margin-left: 5px;">
                            <div class="fb-like" data-href="{{SocialUri}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                        </div>
                        <div style="float: left; margin-left: 5px;">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{SocialUri}}" data-text="{{name}}" data-count="horizontal">Tweet</a>
                        </div>
                    </div>
                    <div class="comments" style="float: right; position: relative; bottom: 3px;">
                        <a class="btn btn-default comentar-btn" style="height: 10px; font-size: 10px;" href="javascript:;">Comentar</a>
                    </div>
                {{/related_url}}
                <div class="commentContainer" style="overflow-y: scroll;">
                    {{#facebook_vertical}}
                    <div class="containerC" style="height: {{height}}px;">
                    {{/facebook_vertical}}
                    {{^facebook_vertical}}
                    <div class="containerC" style="height: {{height_facebook}}px;">
                    {{/facebook_vertical}}
                    <div class="FbContainer">
                        <fb:comments href="{{FQDN}}{{permalink}}" numposts="5" colorscheme="light" width="{{width_facebook}}px"></fb:comments>
                        <script>FB.XFBML.parse();</script>
                    </div>
                    </div>
                </div>
                <a title="Anterior" class="nav prev" href="javascript:;"><span></span></a>
                <a title="Siguiente" class="nav next" href="javascript:;"><span></span></a>
            </div>
            <a title="Cerrar" class="closer" href="javascript:;"></a>
        </div>
    </div>
    <div class="comments" style="height:auto; float: left; margin-top: 5px;">
        <div style="padding: 15px; width: auto; height: auto; padding-bottom: 0;">
            <div style="height: 285px; position: relative;">
                {{#facebook_vertical}}
                <div class="banner" style="float: left;">
                {{/facebook_vertical}}
                {{^facebook_vertical}}
                <div class="banner">
                {{/facebook_vertical}}
                    <iframe src="{{banner_url}}" frameborder="0" scrolling="no" width="100%" height="110%" style="overflow: hidden; width: 342px; height: 285px;"></iframe>
                </div>
            </div>
        </div>
        <div style="margin-left: 25px; background-color: white; border-radius: 5px; width: 300px; height: 260px;">
            <p style="font-family: 'Lato', sans-serif; font-size: 13px; margin: 3px;">Quiza te interese tambien</p>
            <div style="width: 270px; height: 220px; ">
                <a href="http://{{related_galeries_random.FQDN}}{{related_galeries_random.permalink}}" style="width: 300px; height: 240px; display: block;">
                    <img src="{{related_galeries_random.related_pic_url}}" style="width: 270px; height: 220px; margin-left: 15px;">
                </a>
                <div style="border: none; background-color: rgb(11, 11, 11); opacity: 0.85; font-family: 'Lato', sans-serif; color: #999; padding: 3px; font-size: 10px; position: relative; bottom: 0px; bottom: 40px; left: 15px;">
                    {{related_galeries_random.name}}
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
